# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
.venv/
venv/
build/
dist/
*.egg-info/

# Git
.git/

# Unit test / coverage
.pytest_cache/
.coverage
nosetests.xml
coverage.xml

# Jupyter and IPython
*.ipynb_checkpoints

# Misc
.DS_Store
*.log 